<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet"
            arguments=".\Genrpg.WebServer.dll"
            stdoutLogEnabled="false"
            hostingModel="inprocess" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>