<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyVaultURI" value=""/>
    <add key="KeyVaultPrefix" value=""/>
    <add key="TestSecret" value=""/>
    <add key="DefaultEnv" value="dev"/>
    <add key="ProductName" value="Trader"/>
    <add key="AccountsEnv" value="Default"/>
    <add key="AssetsEnv" value="Default"/>
    <add key="PlayersEnv" value="Default"/>
    <add key="SettingsEnv" value="Default"/>
    <add key="WorldsEnv" value="Default"/>
    <add key="MessagingEnv" value="Default"/>
    <add key="PublicIP" value="20.83.41.163"/>
    <add key="ServerVersion" value="1.0.0"/>
    <!-- Think Azure Blob Storage/S3 -->
    <add key="BlobDefaultConnection" value="Azure Blob Storage"/>
    <add key="BlobAccountsConnection" value="Default"/>
    <add key="BlobAssetsConnection" value="Default"/>
    <add key="BlobPlayersConnection" value="Default"/>
    <add key="BlobWorldsConnection" value="Default"/>

    <!-- Accounts mongo collection -->
    <add key="MongoAccountsConnection" value="Mongo Connection String"/>

    <!-- NEED TO ESCAPE & AS &amp; TO MAKE THE MONGO CONNECTION STRING WORK IN THIS FILE FORMAT!!!! -->
    <add key="MongoDefaultConnection"  value="Mongo Connection String"/>
    <add key="MongoPlayersConnection"  value="Default"/>
    <add key="MongoWorldsConnection"  value="Default"/>

    <add key="SingleCollectionDefaultConnection"   value="Mongo Connection String"/>
    <add key="SingleCollectionSettingsConnection"  value="Default"/>


    <add key="PolymorphicDefaultConnection"  value="Mongo"/>
    <add key="PolymorphicSettingsConnection"  value="Default"/>
    <!-- NEED TO ESCAPE & AS &amp; TO MAKE THE COSMOS NOSQL CONNECTION STRING WORK IN THIS FILE FORMAT!!!! -->
    <add key="NoSQLDefaultConnection"  value="Azure Cosmos Connection String"/>
    <add key="NoSQLPlayersConnection"  value="Default"/>
    <!-- Think Azure Service Bus/SQS -->
    <add key="QueuePubSubConnection" value="Azure Service Bus Connection String"/>


    <add key="AppInsightsConnectionString" value="Azure App Insights"/>
    
    <!-- Used with blob SAS, so format will be xxxx.blob.core.windows.net/CONTAINER?SAS -->
    <add key="BlobUploadURL" value="https://yourblobs.blob.core.windows.net/XXXXX"/>
    <add key="ContentRoot" value="http://yourassets.azureedge.net"/>
    <add key="WebServerURL" value="https://XXXXX-yourwebsite.azurewebsites.net"/>
    <add key="TokenSecret" value=""/>
    <add key="IOSSecret" value="temp"/>
    <add key="GooglePlaySecret" value="temp"/>
    <add key="PackageName" value="com.yourcompany.XXXXX"/>
    <add key="GooglePlayValidationURL" value=""/>
    <add key="GoogleApiKey" value=""/>
    <add key="GoogleApiURL" value="Google API"/>
    <add key="IOSBuyValidationURL" value="https://buy.itunes.apple.com/verifyReceipt"/>
    <add key="IOSSandboxValidationURL" value="https://sandbox.itunes.apple.com/verifyReceipt"/>
    <!-- When you're looking at the Unity Devops website, you will see a path with /orgid/projectid in it, use that url as the base. -->
    <add key="UnityCloudBuildMainURL" value="UnityBuild"/>
    <add key="UnityCloudBuildApiKey" value="UnityApiKey"/>
    <add key="UnityOrgId" value="YourOrgId"/>
    <add key="UnityProjectId" value="YourProjectId"/>
  </appSettings>
</configuration>