<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultEnv" value="dev"/>
    <add key="AccountsEnv" value="Default"/>
    <add key="AssetsEnv" value="Default"/>
    <add key="PlayersEnv" value="Default"/>
    <add key="SettingsEnv" value="Default"/>
    <add key="WorldsEnv" value="Default"/>
    <add key="MessagingEnv" value="Default"/>
    <add key="PublicIP" value=""/>
    <!-- Think Azure Blob Storage/S3 -->
    <add key="BlobDefaultConnection" value=""/>
    <add key="BlobAccountsConnection" value="Default"/>
    <add key="BlobAssetsConnection" value="Default"/>
    <add key="BlobPlayersConnection" value="Default"/>
    <add key="BlobSettingsConnection" value="Default"/>
    <add key="BlobWorldsConnection" value="Default"/>
    <!-- NEED TO ESCAPE & AS &amp; TO MAKE THE MONGO CONNECTION STRING WORK IN THIS FILE FORMAT!!!! -->
    <add key="NoSQLDefaultConnection"  value=""/>
    <add key="NoSQLAccountsConnection" value="Default"/>
    <add key="NoSQLAssetsConnection"  value="Default"/>
    <add key="NoSQLPlayersConnection"  value="Default"/>
    <add key="NoSQLSettingsConnection"  value="Default"/>
    <add key="NoSQLWorldsConnection"  value="Default"/>
    <!-- Think Azure Service Bus/SQS -->
    <add key="QueuePubSubConnection" value=""/>
    <add key="ContentRoot" value=""/>
    <add key="EtherscanKey" value=""/>
    <add key="IOSSecret" value =""/>
    <add key="GooglePlaySecret" value=""/>
    <add key="PackageName" value=""/>
    <add key="GooglePlayValidationURL" value=""/>
    <add key="IOSBuyValidationURL" value="https://buy.itunes.apple.com/verifyReceipt"/>
    <add key="IOSSandboxValidationURL" value="https://sandbox.itunes.apple.com/verifyReceipt"/>
  </appSettings>
</configuration>