<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyVaultURI" value=""/>
    <add key="DefaultEnv" value="dev"/>
    <add key="AccountsEnv" value="Default"/>
    <add key="AssetsEnv" value="Default"/>
    <add key="PlayersEnv" value="Default"/>
    <add key="SettingsEnv" value="Default"/>
    <add key="WorldsEnv" value="Default"/>
    <add key="MessagingEnv" value="Default"/>
    <add key="PublicIP" value=""/>
    <!-- Think Azure Blob Storage/S3 -->
    <add key="BlobDefaultConnection" value=""/>
    <add key="BlobAccountsConnection" value="Default"/>
    <add key="BlobAssetsConnection" value="Default"/>
    <add key="BlobPlayersConnection" value="Default"/>
    <add key="BlobWorldsConnection" value="Default"/>
    <!-- NEED TO ESCAPE & AS &amp; TO MAKE THE MONGO CONNECTION STRING WORK IN THIS FILE FORMAT!!!! -->
    <add key="MongoDefaultConnection"  value=""/>
    <add key="MongoAccountsConnection" value="Default"/>
    <add key="MongoPlayersConnection"  value="Default"/>
    <add key="MongoSettingsConnection"  value="Default"/>
    <add key="MongoWorldsConnection"  value="Default"/>
    <!-- NEED TO ESCAPE & AS &amp; TO MAKE THE COSMOS NOSQL CONNECTION STRING WORK IN THIS FILE FORMAT!!!! -->
    <add key="NoSQLDefaultConnection"  value=""/>
	<add key="NoSQLPlayersConnection"  value="Default"/>
    <!-- Think Azure Service Bus/SQS -->
    <add key="QueuePubSubConnection" value=""/>
    <!-- Used with blob SAS, so format will be xxxx.blob.core.windows.net/CONTAINER?SAS -->
    <add key="BlobUploadURL" value=""/>
    <add key="ContentRoot" value=""/>
    <add key="EtherscanKey" value=""/>
    <add key="TokenSecret" value="your session token secret"/>
    <add key="IOSSecret" value =""/>
    <add key="GooglePlaySecret" value=""/>
    <add key="PackageName" value="com.yourcompany.XXXXX"/>
    <add key="GooglePlayValidationURL" value=""/>
    <add key="IOSBuyValidationURL" value="https://buy.itunes.apple.com/verifyReceipt"/>
    <add key="IOSSandboxValidationURL" value="https://sandbox.itunes.apple.com/verifyReceipt"/>
    <!-- When you're looking at the Unity Devops website, you will see a path with /orgid/projectid in it, use that url as the base. -->
    <add key="UnityCloudBuildMainURL" value="https://build-api.cloud.unity3d.com/api/orgs/UnityOrgId/projects/UnityProjectId/buildtargets/UnityTargetId/"/>
    <add key="UnityCloudBuildApiKey" value=""/>
    <add key="UnityOrgId" value=""/>
    <add key="UnityProjectId" value=""/>
  </appSettings>
</configuration>